.header {
  padding: 1rem;
  height: 400px;

  position: relative;
}

.header :where(.heading1) {
  font-size: 65px;
  width: fit-content;
  padding-inline-end: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;

  position: relative;
}
.header :where(.heading1)::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border-top-left-radius: 50%;
  aspect-ratio: 1/1;
  width: 3rem;
}
.header :where(.heading1):nth-child(1)::after {
  box-shadow: -10px -20px 0 white;
  top: 18px;
  right: -48px;
}
.header :where(.heading1):nth-child(2)::after {
  box-shadow: -20px -10px 0 white;
  top: 0;
  right: -48px;
}

.header :where(.heading-description) {
  width: 350px;
  height: 221.5px;
  background-color: white;
  position: relative;
}
.header :where(.heading-description)::after {
  position: absolute;
  top: 0;
  right: -60px;
  content: "";
  background-color: transparent;
  box-shadow: -20px -10px 0 white;
  border-top-left-radius: 50%;
  aspect-ratio: 1/1;
  width: 60px;
}
.header :where(.heading-description)::before {
  position: absolute;
  bottom: 0;
  right: -60px;
  content: "";
  background-color: transparent;
  box-shadow: -20px 10px 0 white;
  border-bottom-left-radius: 50%;
  aspect-ratio: 1/1;
  width: 60px;
}

.header :where(.explore-btn) {
  background-color: var(--object-color);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  position: absolute;
  bottom: 2rem;
  left: 1rem;

  transition: 0.2s;
  z-index: 1;
}
.header :where(.explore-btn:hover) {
  background-color: black;
}

.header :where(.home) {
  position: absolute;
  bottom: 0;
  right: 1rem;
  z-index: -1;

  border-radius: 1.5rem;
  height: 366px;
}

/* clients */
.header :where(.clients) {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;

  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;

  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(5px);

  position: absolute;
  bottom: 0;
  right: 1rem;
}
.header :where(.clients) ol,
li {
  display: flex;
  align-items: center;
}
.header :where(.clients) img {
  width: 30px;
  border-radius: 50%;
}
.header :where(.clients) .description {
  width: fit-content;
  color: white;
}

@media screen and (max-width: 768px) {
  .header :where(.home) {
    position: absolute;
    bottom: 0;
    right: 1rem;
    z-index: -1;

    border-radius: 1.5rem;
    height: 220px;
  }
}
