.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}
.navigation :is(a) {
  color: black;

  display: block;
  padding: 1rem;

  transition: all 0.2s;
}

/* logo */
.navigation :where(.logo) a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  span {
    font-variation-settings: "FILL" 1;
    color: var(--object-color);
  }
  p {
    font-weight: 900;
  }
}

/* links */
.navigation :where(.links) {
  display: flex;
}
.navigation :where(.links) a:hover {
  color: var(--object-color);
}

/* profile */
.navigation :where(.profile) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.navigation :where(.profile) li:nth-child(1) {
  background-color: lightgrey;
  border-radius: 50%;
  transition: 0.2s;
  a {
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    span {
      font-size: 20px;
    }
  }
  a:hover span {
    color: var(--object-color);
    font-variation-settings: "FILL" 1;
  }
}
.navigation :where(.profile) li:nth-child(1):hover {
  background-color: black;
}

.navigation :where(.profile) li:nth-child(2) {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 40px;
  }
}
