* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  appearance: none;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  hr {
    margin-inline: 1rem;
  }
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
